
<ul>	
   <% menu.each do |node| %>	
		<li>
			<%= link_to node.attributes.get_attribute("title").value, 
						:controller => node.attributes.get_attribute("controller").value, 
						:action => node.attributes.get_attribute("action").value, :id => node.attributes.get_attribute("id").value  %>	
		</li>
	<% end %>
</ul>